.card {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 7px 9px 5px -4px rgba(107, 104, 104, 0.61);
  justify-content: center;
  align-items: center;
}

.card-inner {
  width: 90%;
  height: 90%;
}
